.error{
    color:red;
    margin:0;
    font-size: 16px;
}

.title {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif  ;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}